.search-container button {
  padding: 6px 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
  border: 1px solid black;
}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 1.1em;
  border: 1px solid black; 
  width: 320px;
}

.search-container button:hover {
  background: #ccc;
}


@media screen and (max-width: 360px) {
  .search-container {
    width: 100%;
    margin: 0;
  }

 .search-container input[type=text] {
  font-size: 1.1em;
  width: 250px;
  margin-left: 4px;
  float: left; 
 }

 .search-container button {
  font-size: 1.1em;
  margin-right: 4px;
  width: 40px;
  float: right; 
 }

}

.footer {
   position: relative;
   left: 0;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 100%;
   background-color: white;
   color: black;
   text-align: center;
   font-size: 14px;
   line-height: 140%;

}

.hwbutton {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0077b8;
  border: none;
  border-radius: 4px;
}

.hwbutton:hover {background-color: #006199; }

.hwbutton:active {
  background-color: #33a9b2;
  transform: translateY(1px);
}


.footer a:link {
  color: #009ffc;
}
