body {margin: 0;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.hwbutton {
  display: inline-block;
  padding: 5px 20px;
  font-size: 1.1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0077b8;
  border: none;
  border-radius: 4px;
}

.hwbutton:hover {background-color: #006199; }

.hwbutton:active {
  background-color: #33a9b2;
  transform: translateY(1px);
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #292929;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #475463;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


.dataTables_filter {
     display: none;
}

thead {
  display:none;
}

table.dataTable tfoot th {
   display:none;
}

.dataTables_length {
   display:none;
}

th.dt-center, td.dt-center { text-align: center; }

td.sorting_1 { width: 0px; padding: 0px;  }

table.dataTable thead th {
    border-bottom: none;
}

table.dataTable tfoot th {
    border-top: none;
    border-bottom: 1px solid  #111;
}

tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: none;
}


table.dataTable a {
  color: inherit !important;
}


.fix1{
    position:fixed;
    height: 200px;
    width: 100%;
    bottom:0px;
    left:0%;
    border-radius: 100% 100% 0% 0%;
}


.row li:not(:last-child) {
     margin-bottom: 8px;
}


.xitem {
    vertical-align: bottom;
    display: inline;
}


.scontainer {
   margin-left: 10px;
}


.container {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-right: 10px;
}

.container_cards {
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 12px;
}



input[type=text] {
  border: 1px solid  #85c1e9;
  width: 100%;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  font-size: 1.1em;
  outline-color: #719ECE;
}

input[type=submit] {
  border: 1px solid #3498db;
  background-color:#85c1e9;
  color: #343a40;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 1.1em;
  border-radius: 4px;
}


input[type="submit"]:hover {
    border: 1px solid #343a40;
    background-color:  #3498db;
    color: white;
}


img {
  vertical-align:middle;
  margin:0;
}

.error {
    display: inline;
    color: red;
    background-color: white;
    font-size: 1.1em;
}


.x1 {
    display: inline;
}

.x2 {
    display: inline;
    color: #2f972f;
    font-style: italic;
}

.x3 {
    display: inline;
    color: #2f972f;
}

.readerbutton {
  display: inline-block;
  padding: 4px 10px;
  font-size: 1.05em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #1d5f64;
  border-radius: 4px;
  color:#343a40;
  border: 1px solid  #85c1e9;
  background-color: #85c1e9;
}

.readerbutton:hover {
 border: 1px solid #343a40;
 background-color: #3498db;
 color: white;
}

.readerbutton:active {
  background-color: #3498db;
  transform: translateY(1px);
}

.topicbox {
        width: 140px;
        height: 30px;
        border: 1px solid #999;
        font-size: 18px;
        background-color: #eee;
        border-radius: 3px;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; 
  font-size: 12px;
  text-align: center;
}
