.goog-te-gadget-simple {
         font-size: 14px !important;

}


#google_translate_element img
        {
            display: none !important;
        }



.mw-editsection-bracket {
    margin: auto; 
}

.mw-editsection {
        text-align: center;
        margin: auto;	
        font-size: 14px;
	margin-left: 5px;
}

/* mouse over link */
.mw-editsection a:hover {
  color: hotpink;
}


.footerseek {
   position:fixed;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
   background-color: #343a40;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   color: white;
   padding-top: 10px; 
}

.footerseek a {
    color: white;
}

/* some styles for JWE */
.jwen1 {
    display: inline-block;
    vertical-align: top;
    display: block;
}

ul.subheadinglevel1 {
  padding-left: 0.25em;
  list-style-type: none;
}

li.subheadinglevel1 {
  padding-left: 0.25em;
  list-style-type: none;
}

ul.subheadinglevel2 {
  padding-left: 1.25em;
  list-style-type: none;
}

li.subheadinglevel2 {
  padding-left: 1.25em;
  list-style-type: none;
}

.bibliography {
  font-style: italic;
  margin-bottom: 1em;
}

.bibliography strong {
  font-style: italic;
  font-weight: bold;
}

a.subheadinglevel2,
a.subheadinglevel1 {
  font-style: bold;
  font-size: 118%;
  margin-bottom: 0.25em;
  display: block;
}

.tableofcontents {
  float:right;
  border:1px solid #aaa;
  margin:0 0 0.5em 0.5em;
}

.tableofcontentstitle {
  padding: 0.25em;
  background: var(--head-background-color); 
  color: var(--text-color); 
  font-weight: bold;
  text-align: center;
}

.tableofcontents ul {
  padding: 0.5em;
}

