body { 
      font-family:Helvetica,Arial,sans-serif; 
      font-size: 1em; 
}

.author-form {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 30px;
  margin-right:500px;
  width: 95%;
}

.author-form input[type="text"] {
  border: 1px solid #1d5f64;
  width: 95%;
  /* prevent overflow of container */
  max-width: 100%;
}
